#pageBody {
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(132,128,195);
background: linear-gradient(90deg, rgba(132,128,195,1) 0%, rgba(239,239,242,1) 35%, rgba(132,128,195,1) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pageCard {
  min-height: 80vh;
  max-height: 82vh;
  min-width: 76vw;
  max-width: 86vw;
  background: rgb(26,23,78);
  background: linear-gradient(90deg, rgba(26,23,78,1) 0%, rgba(104,104,163,1) 35%, rgba(26,23,78,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-inline: 5rem;
  padding-block: 2rem;
}

#pageHeader {
  display: flex;
  flex-direction: row;
}

#loginField {
  margin: auto;
  background-color: pink;
}

.growSpan {
  flex-grow: 1;
}

.container {
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 12rem;
}

h1 {
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}
h5 {
  color: white;
  font-style: italic;
  padding: 0;
  margin: 0;
}